{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^react-native$",
    "^react-native/(.*)$",
    "^@react-navigation/(.*)$",
    "^@/store/(.*)$",
    "^@/global/constants/(.*)$",
    "^@/global/apis/(.*)$",
    "^@/global/ui/(.*)$",
    "^@/global/utils/(.*)$",
    "^@/global/(.*)$",
    "^@/navigation/(.*)$",
    "^@/analytics/(.*)$",
    "^@/assets/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
